.with::before{
    content: '';
    position: absolute;
    top: 1.1rem;
    left: -4rem;
    background-color: #b4b4b4;
    width: 4rem;
    height: 1px;
}
.with::after{
    content: '';
    position: absolute;
    top: 1.1rem;
    right: -4rem;
    background-color: #b4b4b4;
    width: 4rem;
    height: 1px;
}